AlignConsecutiveAssignments: true
#AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
AlignAfterOpenBracket: true
BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
PointerBindsToType: false
TabWidth: 4
UseTab: Never